# Data.Trek 2021 - Week 2 : Data Prepocessing and Cleaning in Python
## Your journey in data prepocessing and cleaning with pandas
Author: Savandara Ladyson Besse 

![text here](./images/pandas.jpg)


## Useful readings about pandas
- <a href='https://pandas.pydata.org/docs/user_guide/10min.html#min'>10 min tutorial on pandas</a>
- <a href='https://pandas.pydata.org/docs/user_guide/index.html#user-guide'>All the secrets about pandas</a>

## Credits
- Inspiration for the plan of this tutorial from <a href='https://towardsdatascience.com/data-wrangling-with-pandas-5b0be151df4e'>Towards data science</a>
- Dataset 1: Breast cancer data from <a href='https://archive.ics.uci.edu/ml/datasets/breast+cancer+wisconsin+(original)'>UCI</a>
- Dataset 2: Generated dataset based on the graduated alumni list of of the biochemistry department of UdeM

## Today's tutorial
1. Data exploration
2. Dealing with missing and duplicated values
3. Reshaping data
4. Filtering data
5. Customizing your table <br><br>

_______ 

<br>

### Situation 1: 
### You have been hired as data scientist at the Montreal Cancer Treatment Institute. Your new lab told you that they have a really insteresting dataset of breast cancer data and they want you to check if the table can be used without any changes.
### How will you do?

In [91]:
import numpy as np
import pandas as pd
import seaborn as sns

### I. Data exploration

### __Determinant choice__: What do you want to do, first?
- [ ]  Upload the data in my notebook now! - 1
- [ ]  Take a look on the data, first! - 2

In [92]:
#### If you choose the choice 1, then compute this cell
breast_dataset = pd.read_csv('./data/breast_cancer_data.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 7, saw 3

Let's check the file then...

In [93]:
#### If you choose the choice 2, then compute this cell
breast_dataset = pd.read_csv('./data/breast_cancer_data.csv', comment='#')

- Other possible solution:<br>
`breast_dataset = pd.read_csv('./data/breast_cancer_data.csv', skiprows=21)`

<h4 align='center'> By the way, what does mean CSV?</h4>

- Let's take a look to our table now! It loads into a python object called dataframe.

> NB: If you are curious about how create a dataframe from scratch, take a look <a href='https://www.geeksforgeeks.org/python-pandas-dataframe/'>here</a>

In [94]:
breast_dataset

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

NB: You could visualize all the dataset table on you jupyter notebook using the following lines: 
```
pd.options.display.max_columns = None
pd.options.display.max_rows = None
```
But it will make your jupyter notebook pretty slow (displaying the whole dataset will consume your raw memory)

### General questions about the dataset

### 1. How many rows and columns do we have?

In [95]:

rows, columns = breast_dataset.shape
print(f'This dataset has {rows} rows and {columns} columns')

This dataset has 699 rows and 12 columns

### 2. What are the name of the columns?

In [96]:

 breast_dataset.columns

Index(['patient_id', 'clump_thickness', 'cell_size_uniformity',
       'cell_shape_uniformity', 'marginal_adhesion', 'single_ep_cell_size',
       'bare_nuclei', 'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class',
       'doctor_name'],
      dtype='object')

### 3. What are the type of the values in each column?

In [97]:

 breast_dataset.dtypes

patient_id                 int64
clump_thickness          float64
cell_size_uniformity     float64
cell_shape_uniformity      int64
marginal_adhesion          int64
single_ep_cell_size        int64
bare_nuclei               object
bland_chromatin          float64
normal_nucleoli          float64
mitoses                    int64
class                     object
doctor_name               object
dtype: object

### 4. How can we check the number of each unique value per column?

In [131]:
breast_dataset.nunique()

patient_id               637
clump_thickness           10
cell_size_uniformity      10
cell_shape_uniformity     10
marginal_adhesion         10
single_ep_cell_size       10
bare_nuclei               11
bland_chromatin           10
normal_nucleoli           10
mitoses                    9
class                      2
doctor_name                4
dtype: int64

### 5. Do you want to see some statistics? Are all the columns there? Why?

In [99]:

breast_dataset.describe()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
count,6.990000e+02,698.000000,698.000000,699.000000,699.000000,699.000000,695.000000,698.000000,699.000000
mean,1.071704e+06,4.416905,3.137536,3.207439,2.793991,3.216023,3.447482,2.868195,1.589413
std,6.170957e+05,2.817673,3.052575,2.971913,2.843163,2.214300,2.441191,3.055647,1.715078
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,3.500000,4.000000,5.000000,4.000000,1.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [100]:
#### You can customize the shown percentiles
breast_dataset.describe(percentiles=[0.1,0.5, 0.9])

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
count,6.990000e+02,698.000000,698.000000,699.000000,699.000000,699.000000,695.000000,698.000000,699.000000
mean,1.071704e+06,4.416905,3.137536,3.207439,2.793991,3.216023,3.447482,2.868195,1.589413
std,6.170957e+05,2.817673,3.052575,2.971913,2.843163,2.214300,2.441191,3.055647,1.715078
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
10%,5.632146e+05,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000
90%,1.311261e+06,9.000000,9.000000,8.000000,8.000000,6.000000,7.000000,9.000000,3.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

### 6. How can we count the number of values for categorical data?

In [134]:
#### How many patients have each doctor?
breast_dataset.groupby(by=['doctor_name']).size()   # This aggreates the data by the column name
                                                    # and pass the aggregation function (size = count)

doctor_name
Dr. Doe      181
Dr. Lee      179
Dr. Smith    174
Dr. Wong     156
dtype: int64

> More about the groupby function: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

### EXERCISE:
### Provide the following information for the following questions, and provide the line that helped you to give the answer:

1. How many unique patients do we have in this study? <br> 645 
`breast_dataset.nunique()['patient_id']`
1. What type of values contain the column marginal_adhesion? <br> int64 
`breast_dataset.dtypes['marginal_adhesion']`
1. What is the minimum size that can describe the cell uniformity? <br> 1
`breast_dataset['cell_size_uniformity'].min()`
1. What is the maximal number of counted mitoses? <br>10
`breast_dataset['mitoses'].max()`
1. How many patients with a severe type of breast cancer has each doctor? (hint, use the groupby function) <br> `breast_dataset.groupby(by=['doctor_name', 'class]).size()`

### BONUS QUESTION

Plot a boxplot to illustrate the answer of the question 5

- TO DO

_______


### 2. a. Dealing with ... missing values

### How many missing values per column?

In [102]:
#### NB: In numpy, missing values can be defined with np.nan
breast_dataset.isna().sum()

patient_id               0
clump_thickness          1
cell_size_uniformity     1
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              2
bland_chromatin          4
normal_nucleoli          1
mitoses                  0
class                    0
doctor_name              0
dtype: int64

### Determinant choice: What can we do with these missing values?
- [ ] Replace them with zero! - 1
- [ ] Remove them all! - 2

In [103]:
#### If you choose, solution 1, run this cell
breast_dataset_with_zero = breast_dataset.fillna(0)

breast_dataset_with_zero.isna().sum()

patient_id               0
clump_thickness          0
cell_size_uniformity     0
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              0
bland_chromatin          0
normal_nucleoli          0
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [107]:
#### If you choose, solution 2, run this cell
breast_dataset_with_nona = breast_dataset.dropna()  #drop rows with any column having np.nan values

breast_dataset_with_nona.isna().sum()

patient_id               0
clump_thickness          0
cell_size_uniformity     0
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              0
bland_chromatin          0
normal_nucleoli          0
mitoses                  0
class                    0
doctor_name              0
dtype: int64

### What is the difference of these two methods?

In [114]:

print('Dataset with zero:', breast_dataset_with_zero.shape)
print('Dataset with no NA:', breast_dataset_with_nona.shape)

Dataset with zero: (699, 12)
Dataset with no NA: (690, 12)

In [135]:
#### Let's take the dataframe with no na values
breast_dataset_with_nona

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [128]:
#### Reindexing your table after removing few lines - step 1
breast_dataset = breast_dataset_with_nona.reset_index()
breast_dataset

,index,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
686,695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
687,696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
688,697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
689,698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [129]:
#### Reindexing your table after removing few lines - step 2
breast_dataset = breast_dataset.drop(columns='index')
breast_dataset

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
685,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
686,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
687,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
688,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
689,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

### 3. Dealing with duplicated data
### 4. Playing with your dataframe (filter by columns or rows)
### 5. Customizing your dataframe (make a new dataframe based on your initial dataframe + filtering columns + deleting columns + adding new columns)

### FINAL EXERCISE